<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : SweetCourse 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20130919

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<link type="text/css" rel="stylesheet" href="../styles/font.css">
<link type="text/css" rel="stylesheet" href="../styles/app.css">

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="menu">
			<ul>
				
				<li>{{#link-to "all-games" class="button"}}View All Games{{/link-to}}</li>
				<li>{{#link-to "sell-game" class="button"}}Sell Game{{/link-to}}</li>
        <li>{{#link-to "cart" class="button"}}Cart{{/link-to}}</li>
				<li>{{#link-to "main" class="button"}}Logout{{/link-to}}</li>
        
			</ul>
		</div>
		<div id="logo">
			<h1><a href="#">Welcome</a></h1>
			<span>Template Design by <a href="http://www.freecsstemplates.org/" rel="nofollow">FreeCSSTemplates.org</a></span> </div>
	</div>
</div>

<div id="wrapper3">
	<div id="wrapper-blog" class="container">
		<div id="post">
			<div class="post"> <span class="date">December 7, 2018</span> <img src="https://cdn.vox-cdn.com/thumbor/IRJeALkeykaaJIl6YBgAXvnHLfE=/0x0:2400x1517/1200x675/filters:focal(1008x567:1392x951)/cdn.vox-cdn.com/uploads/chorus_image/image/60149789/smash_illo.0.jpg" class="image image-full" />
				<h2>Super Smash Bros Ultimate</h2>
				<p>Super Smash Bros. Ultimate is a fighting game in which players use different attacks to weaken their opponents and knock them out of an arena.
					Each character has a unique set of moves and abilities, as well as a powerful Final Smash attack that often affects all opponents on the field,
					triggered by activating a Smash Ball power-up that appears on the field. All characters have been updated with new moves and abilities, with
					many characters rebalanced based on feedback from players of past games.
				</p>
			</div>
			<div class="post"> <span class="date">September 8, 2018</span> <img src="https://cdn.vox-cdn.com/thumbor/SLhFTTOcnZnb-PPIiJumu0WDY4Y=/85x0:1014x619/1200x800/filters:focal(85x0:1014x619)/cdn.vox-cdn.com/uploads/chorus_image/image/45660688/spiderman-marvel.0.0.jpg" class="image image-full" />
				<h2>Marves'l Spider-Man</h2>
				<p>Marvel's Spider-Man is an action-adventure game set in an open world modern-day New York City and played from a third-person perspective. 
					It features combat systems such as an aerial combat, spider sense and reflexes, and finishing moves. Spider-Man can push attacking enemies 
					off of buildings, though Spider-Man will not let them fall, webbing them to the side of the building. The player will be able to use 
					Spider-Man's abilities such as web slinging and wall-crawling as well other gameplay elements, one of which will be the ability to traverse
					 using parkour, and the crafting and use of gadgets and alternative suits with special powers. Environmental combat, quick time events and 
					 stealth will also be featured in the game. Peter Parker (outside of his Spider-Man suit) will be playable in parts of the game and Mary 
					 Jane Watson will be playable in "key moments" of the game.</p>
					 <p>
						 The game is scheduled to be released worldwide on September 7, 2018. After the intended release however, there will be extra content 
						 being added to Spider-Man via the "City That Never Sleeps" DLC, including new characters from the Spider-Man universe and new unlockable 
						 suits for Spider-Man to wear.
					 </p>
			</div>
			<div class="post no-border"> <span class="date">October 2, 2018</span> <img src="http://cdn-static.denofgeek.com/sites/denofgeek/files/2017/12/mega-man-11.jpg" alt="" class="image image-full" />
				<h2>Mega Man 11</h2>
				<p>Mega Man 11 retains the gameplay style of the classic Mega Man series of games, and features a 2.5D graphics style with 3D polygonal characters 
					and environments. Players control Mega Man as he attempts to stop Dr. Wily from using a Double Gear system he invented based on research he conducted 
					years before. Players travel through linear stages before battling against one of Doctor Wily's eight Robot Masters, including Block Man, Fuse Man,
					 Blast Man and Torch Man.</p>
				<p>
					It will be released worldwide for Microsoft Windows, Nintendo Switch, PlayStation 4, and Xbox One on October 2, 2018 and in Japan on October 4, 2018.
				</p>
			</div>
		</div>
		<div id="list">
			<div id="lbox1">
				<ul class="style1">
					<li class="first">
						<h3>
							<div>
							<img src="https://i.redditmedia.com/6jbJM27RzbgTrIW_iwLw3oeATBw2UBNkrQDnN52Mg94.png?fit=crop&crop=faces%2Centropy&arh=2&w=960&s=f0bb6f48437ebd083cfdf0cfb1b08254"
							style="width:150px;height:100px;"
							>
							</div>
						</h3>
						<p><a href="facebook.com">Tomatohead Challenges Added to Fortnite, New Style for the Tomatohead Skin</a></p>
					</li>
					<li>
						<h3>
							<div>
								<img src="https://s22928.pcdn.co/wp-content/uploads/2018/07/LeBron-James-NBA-2K19-cover.jpg"
								style="width:150px;height:100px;">
								
							</div>
						</h3>
						<p><a href="#">Preorder These Games Before Amazon Ditches Its Prime Preorder Discount</a></p>
					</li>
					<li>
						<h3>
							<div>
								<img src="https://www.technobuffalo.com/wp-content/uploads/2016/03/Venom_Spiderman.jpg"
								style="width:150px;height:100px;">
							</div>
						</h3>
						<p><a href="#">Venom's New Mythology Sets a Strong Example for the Movie</a></p>
					</li>
					<li>
						<h3>
							<div>
								<img src="https://tse3.mm.bing.net/th?id=OIP.IJuOFfgND5Z0Eqvtsrly3QHaEK&pid=Api"
								style="width:150px;height:100px;">
							</div>
						</h3>
						<p><a href="#">Battle for Azeroth Is World of Warcraft's Fastest-Selling Expansion Ever</a></p>
					</li>
				</ul>
			</div>
			<div id="lbox2">
				<h2>Movies</h2>
				<ul class="style2">
					<li><a href="#">Kids But Ones They'll Definitely Want to See</a></li>
					<li><a href="#">Top Gun 2 Adds Two Big Names</a></li>
					<li><a href="#">BioMutant's Combat is a Weird and Awesome Mashup</a></li>
					<li><a href="#">Hans Zimmer Still Out of Superhero Composing Retirement With Wonder Woman 1984</a></li>
					<li><a href="#">Netflix Developing Sequel to Death Note</a></li>
					<li><a href="#">Crazy Rich Asians Sequel in the Works, Director Jon M. Chu Returning</a></li>
				</ul>
			</div>
			<div id="lbox2">
				<h2>Comics</h2>
				<ul class="style2">
					<li><a href="#">Ironheart TakesOff In New Marvel Solo Series</a></li>
					<li><a href="#">Thanos Black Order Rally for New Marvel Series</a></li>
					<li><a href="#">Amazing Spider-Man Keeps Defying Expectations (Amazing Spider-Man #3 Review)</a></li>
					<li><a href="#">Top Comics To Buy This Week: Punisher #1 And More</a></li>
					<li><a href="#">Original Power Rangers Are Swapping Colors and Weapons</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div id="wrapper2">
	<div id="newsletter" class="container">
		<div class="title">
			<h2>Need To Talk?</h2>
			<span class="byline">Leave a comment and you'll hear from us soon!</span> </div>
		<div class="content">
			<form method="post" action="#">
				<div class="row half">
					<div class="6u">
						<input type="text" class="text" name="name" placeholder="Name" />
					</div>
					<div class="6u">
						<input type="text" class="text" name="email" placeholder="Email" />
					</div>
				</div>
				<div class="row half">
					<div class="12u">
						<textarea name="message" placeholder="Message"></textarea>
					</div>
				</div>
				<div class="row">
					<div class="12u"> <a href="#" class="button submit">Send Message</a> </div>
				</div>
			</form>
		</div>
	</div>
</div>
<div id="copyright">
	<p>Copyright (c) 2013 Sitename.com. All rights reserved. | Photos by <a href="http://fotogrph.com/">Fotogrph</a> | Design by <a href="http://www.freecsstemplates.org/" rel="nofollow">FreeCSSTemplates.org</a>.</p>
</div>
</body>
</html>
